#Fist, ignore everything
*
#Don't ignore dotfiles
!.*
#Manually exclude everything else
/*.swp
.Trash
.thumbnails
.bash_history
.swp
.DS_Store
.CFUserTextEncoding
.Xauthority
.aliases
.bash_profile
.config/
.cups/
.fontconfig/
.gem/
.gitk
.inkscape/
.irssi/
.jline-clojure.lang.Repl.history
.lesshst
.local/
.macports/
.mysql_history
.profile.macports-saved_2009-11-13_at_14:09:23
.recently-used.xbel
.ri/
.ruby_inline/
.rvm/
.ssh/
.subversion/
.suq
.sur
.sus
.sut
.suu
.suv
.suw
.sux
.suy
.suz
.sva
.svb
.svc
.svd
.sve
.svf
.svg
.svh
.svi
.svj
.svk
.svl
.svm
.svn
.svo
.svp
.svq
.svr
.svs
.svt
.svu
.svv
.svw
.svx
.svy
.svz
.swa
.swb
.swc
.swd
.swe
.swf
.swg
.swh
.swi
.swj
.swk
.swl
.swm
.swn
.swo
.vim_mru_files
.vimfuzzyfinder
.viminfo
